<header>
    <nav>
        <a href="about.html">About</a>
        <a href="home.html">Home</a>
    </nav>
</header>
<main>
    <h1>
        Contact Information
    </h1>
    <body>
        I don't really want to put my contact
        information here. Sorry
    </body>
</main>
<footer>
    <div>Copyright 1982 by me!</div>
    <div>I like pie</div>
</footer>